/* Set font and remove default padding and margins */
* {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
}

/* center text and input fields */
.center {
    text-align: center;
}

.letter {
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    width: 3rem;
    height: 3rem;
    border: 0.15rem solid rgb(201, 201, 201);
}